@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #06d933 !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #951d19 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #06d933 !important;
  border-color: #06d933 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #06d933 !important;
  border-color: #06d933 !important;
}
.btn-primary:before {
  background-color: #048f22 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #048f22 !important;
  border-color: #048f22 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-secondary:before {
  background-color: #eb3934 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #951d19 !important;
  border-color: #951d19 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #951d19 !important;
  border-color: #951d19 !important;
}
.btn-info:before {
  background-color: #53100e !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #53100e !important;
  border-color: #53100e !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-success:before {
  background-color: #693cbc !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
  color: #aaac12 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12 !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-warning:before {
  background-color: #f0f27f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger:before {
  background-color: #c9c9c9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #03761c;
  color: #03761c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #06d933;
}
.btn-primary-outline:before {
  background-color: #06d933;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #06d933 !important;
  border-color: #06d933 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3e0c0a;
  color: #3e0c0a;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #951d19;
}
.btn-info-outline:before {
  background-color: #951d19;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #951d19 !important;
  border-color: #951d19 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #06d933;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #06d933 !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #951d19 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #03761c !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3e0c0a !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #951d19;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-gallery-filter li.active .btn {
  background-color: #06d933;
  border-color: #06d933;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #06d933;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #aefdbf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e1514c;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
  font-weight: 300;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.696rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #06d933;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #06d933;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #06d933;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #06d933;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #06d933;
}
/* Headers*/
/* Content */
.content11 .counter-container div .counter {
  background: #06d933;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.display-7 {
  font-weight: 300;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qIPJPxHegZ .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-qIPJPxHegZ .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qIPJPxHegZ a {
  font-style: normal;
}
.cid-qIPJPxHegZ .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qIPJPxHegZ .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0 .65rem !important;
}
.cid-qIPJPxHegZ .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qIPJPxHegZ .content-text {
  margin-bottom: 0;
}
.cid-qIPJPxHegZ .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-qIPJPxHegZ .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #06d933;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-qIPJPxHegZ .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-qIPJPxHegZ .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-qIPJPxHegZ .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-qIPJPxHegZ .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qIPJPxHegZ .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qIPJPxHegZ .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-qIPJPxHegZ .navbar-buttons.mbr-section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qIPJPxHegZ .nav-dropdown .link {
  font-weight: 400;
}
.cid-qIPJPxHegZ .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-qIPJPxHegZ .content-right-side {
  text-align: center;
}
.cid-qIPJPxHegZ .menu-content-top {
  display: none;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-qIPJPxHegZ .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-qIPJPxHegZ .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-qIPJPxHegZ .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-qIPJPxHegZ .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid #e0e0e0;
}
.cid-qIPJPxHegZ .menu-content-right {
  display: flex;
  align-items: center;
}
.cid-qIPJPxHegZ .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-qIPJPxHegZ .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-qIPJPxHegZ .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-qIPJPxHegZ .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-qIPJPxHegZ .widget-content .widget-text {
  margin-bottom: 0;
}
.cid-qIPJPxHegZ .menu-bottom {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  position: relative;
}
@media (min-width: 992px) {
  .cid-qIPJPxHegZ .navbar .menu-content-top {
    display: flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-qIPJPxHegZ .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }
  .cid-qIPJPxHegZ .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-qIPJPxHegZ .navbar {
    display: block;
    padding: 0;
  }
  .cid-qIPJPxHegZ .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .cid-qIPJPxHegZ .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-qIPJPxHegZ .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-qIPJPxHegZ .navbar-toggler {
    display: none;
  }
}
.cid-qIPJPxHegZ .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-qIPJPxHegZ .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qIPJPxHegZ .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-qIPJPxHegZ .menu-logo {
  margin-right: auto;
}
.cid-qIPJPxHegZ .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qIPJPxHegZ .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qIPJPxHegZ .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qIPJPxHegZ .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qIPJPxHegZ .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qIPJPxHegZ .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qIPJPxHegZ .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-qIPJPxHegZ .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qIPJPxHegZ .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qIPJPxHegZ .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qIPJPxHegZ .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qIPJPxHegZ .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qIPJPxHegZ .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qIPJPxHegZ .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qIPJPxHegZ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qIPJPxHegZ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qIPJPxHegZ .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qIPJPxHegZ .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qIPJPxHegZ .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qIPJPxHegZ .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-qIPJPxHegZ .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qIPJPxHegZ .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qIPJPxHegZ .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qIPJPxHegZ .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qIPJPxHegZ button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  align-self: center;
}
.cid-qIPJPxHegZ button.navbar-toggler:focus {
  outline: none;
}
.cid-qIPJPxHegZ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qIPJPxHegZ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qIPJPxHegZ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qIPJPxHegZ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qIPJPxHegZ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qIPJPxHegZ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qIPJPxHegZ nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qIPJPxHegZ nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qIPJPxHegZ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qIPJPxHegZ .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qIPJPxHegZ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qIPJPxHegZ .collapsed .btn {
  display: flex;
}
.cid-qIPJPxHegZ .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qIPJPxHegZ .collapsed .navbar-collapse.collapsing,
.cid-qIPJPxHegZ .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qIPJPxHegZ .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qIPJPxHegZ .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qIPJPxHegZ .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qIPJPxHegZ .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qIPJPxHegZ .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qIPJPxHegZ .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cid-qIPJPxHegZ .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qIPJPxHegZ .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qIPJPxHegZ .collapsed button.navbar-toggler {
  display: block;
}
.cid-qIPJPxHegZ .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qIPJPxHegZ .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qIPJPxHegZ .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qIPJPxHegZ .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qIPJPxHegZ .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qIPJPxHegZ .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-qIPJPxHegZ .collapsed .menu-bottom {
  flex-direction: column-reverse;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-qIPJPxHegZ .menu-bottom {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .cid-qIPJPxHegZ img {
    height: 3.8rem !important;
  }
  .cid-qIPJPxHegZ .btn {
    display: flex;
  }
  .cid-qIPJPxHegZ button.navbar-toggler {
    display: block;
  }
  .cid-qIPJPxHegZ .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qIPJPxHegZ .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qIPJPxHegZ .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qIPJPxHegZ .navbar-collapse.collapsing,
  .cid-qIPJPxHegZ .navbar-collapse.show {
    display: block !important;
  }
  .cid-qIPJPxHegZ .navbar-collapse.collapsing .navbar-nav,
  .cid-qIPJPxHegZ .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qIPJPxHegZ .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qIPJPxHegZ .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qIPJPxHegZ .navbar-collapse.collapsing .navbar-buttons,
  .cid-qIPJPxHegZ .navbar-collapse.show .navbar-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .cid-qIPJPxHegZ .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qIPJPxHegZ .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qIPJPxHegZ .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qIPJPxHegZ .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qIPJPxHegZ .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qIPJPxHegZ .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-qIPJPxHegZ .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-qIPJPxHegZ .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-qIPJPxHegZ .navbar-dropdown {
  flex-wrap: nowrap;
}
.cid-qIPJPxHegZ .navbar-collapse {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.cid-qIPJPxHegZ .nav-link:focus {
  outline: none;
}
.cid-qIPJPxHegZ .navbar-toggler {
  position: relative;
}
.cid-qIPJPxHegZ .dropdown-item.active,
.cid-qIPJPxHegZ .dropdown-item:active {
  background: #ffffff;
  color: initial;
}
.cid-qIPJPxHegZ .nav-link:hover,
.cid-qIPJPxHegZ .dropdown-item:hover {
  color: #4284df;
}
.cid-qIRqNrSDYi {
  padding-top: 120px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/25550207-1981496665421912-6885197696847109926-n-960x678.jpg");
}
.cid-qIRqNrSDYi .media-content .btn-bgr {
  z-index: 0;
}
.cid-qIRqNrSDYi .mbr-overlay {
  background: linear-gradient(90deg, #52e2dd, #8120c9);
}
@media (min-width: 992px) {
  .cid-qIRqNrSDYi .media-content {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
@media (max-width: 991px) {
  .cid-qIRqNrSDYi {
    text-align: center !important;
  }
  .cid-qIRqNrSDYi .mbr-text {
    text-align: center;
  }
}
.cid-qIRqNrSDYi .media-container-row {
  justify-content: flex-start;
}
.cid-qIRqNrSDYi H1 {
  color: #951d19;
}
.cid-qIRqNrSDYi .mbr-text,
.cid-qIRqNrSDYi .mbr-section-btn {
  color: #951d19;
}
.cid-qIPJY3guOS {
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-qIPJY3guOS .text-content {
  padding-top: 90px;
  padding-bottom: 45px;
}
.cid-qIPJY3guOS .text-content .btn-bgr {
  z-index: 0;
}
.cid-qIPJY3guOS .mbr-overlay {
  background: linear-gradient(90deg, #ffffff, #15d63e);
}
.cid-qIPJY3guOS h3 {
  color: #000000;
  font-weight: 300;
}
.cid-qIPJY3guOS p {
  color: #464646;
}
.cid-qIPJY3guOS h2 {
  color: #000000;
}
.cid-qIPJY3guOS .media-container-row {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (max-width: 767px) {
  .cid-qIPJY3guOS .media-container-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.cid-qIPJY3guOS .text-content {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-qIPJY3guOS .text-content {
    width: 80%;
  }
}
@media (max-width: 599px) {
  .cid-qIPJY3guOS .text-content {
    width: 100%;
  }
}
.cid-qIPJY3guOS .media-content {
  padding-right: 1.5rem;
  padding-left: 0;
}
.cid-qIPJY3guOS .mbr-section-btn {
  margin-left: -0.8rem;
}
@media (max-width: 767px) {
  .cid-qIPJY3guOS .mbr-text {
    text-align: center;
  }
}
.cid-qIQ53eMweT {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #47cc63;
}
.cid-qIPK5sDcAZ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-qIPK5sDcAZ .mbr-text {
  color: #767676;
}
.cid-qIPK5sDcAZ h4 {
  text-align: center;
}
.cid-qIPK5sDcAZ p {
  text-align: center;
}
.cid-qIPK5sDcAZ .card .card-img span {
  font-size: 40px;
  padding: 1.5rem;
  background: #951d19;
  border: 2px solid #951d19;
  color: #ffffff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-qIPK5sDcAZ .card:hover .card-img span {
  background: none;
  color: #951d19;
}
.cid-qIPK5sDcAZ .card-title,
.cid-qIPK5sDcAZ .card-img {
  color: #951d19;
}
.cid-qIPKtkWPkd {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #47cc63;
}
.cid-qIPKnZWJKn {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/ng-55633-2000x1333.jpg");
}
.cid-qIPKnZWJKn h3 {
  text-align: center;
}
.cid-qIPKnZWJKn .mbr-section-subtitle {
  font-weight: 300;
}
.cid-qIPKnZWJKn .card {
  word-wrap: break-word;
}
.cid-qIPKnZWJKn .card:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  margin: 0 auto;
  background-color: #06d933;
}
.cid-qIPKnZWJKn .mbr-iconfont {
  font-size: 5rem;
  color: #06d933;
}
.cid-qIPKnZWJKn .mbr-section-title {
  color: #ffffff;
}
.cid-qIPKnZWJKn .count {
  color: #ffffff;
}
.cid-qIPKnZWJKn H4 {
  color: #ffffff;
}
.cid-qIQ7Eggm02 {
  padding-top: 60px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-qIQ7Eggm02 .media-container-column .btn-bgr {
  z-index: 0;
}
.cid-qIQ7Eggm02 .mbr-overlay {
  background: #7fca8f;
  background: linear-gradient(#7fca8f -10%, #efefef 75%);
}
.cid-qIQ7Eggm02 .mbr-section-title {
  margin: 0;
}
.cid-qIQ7Eggm02 .separator {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  max-width: 125px;
  margin-left: auto;
  margin-right: auto;
}
.cid-qIPKI73AFH {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/a1-960x720.jpg");
}
.cid-qIPKI73AFH .mbr-section-subtitle {
  color: #767676;
}
.cid-qIPKI73AFH .container-table {
  margin: 0 auto;
}
.cid-qIPKI73AFH .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-qIPKI73AFH .dataTables_wrapper {
  display: block;
}
.cid-qIPKI73AFH .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-qIPKI73AFH table {
  width: 100% !important;
  margin-top: 6px;
  margin-bottom: 0;
}
.cid-qIPKI73AFH table th {
  border-top: 1px solid #cccccc;
  transition: all .2s;
  border-bottom: none;
}
.cid-qIPKI73AFH table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-qIPKI73AFH table td {
  border-top: 1px solid #cccccc;
}
.cid-qIPKI73AFH table td:hover {
  color: #06d933;
}
.cid-qIPKI73AFH table tr:last-child td {
  border-bottom: 1px solid #cccccc;
}
.cid-qIPKI73AFH .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-qIPKI73AFH .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-qIPKI73AFH .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-qIPKI73AFH .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-qIPKI73AFH .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-qIPKI73AFH .dataTables_filter {
    text-align: center;
  }
  .cid-qIPKI73AFH .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-qIPKI73AFH .body-item {
  color: #2c1616;
}
.cid-qIQoWK81NK {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #47cc63;
}
.cid-qIPKLpT32V {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qIPKLpT32V .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qIPKLpT32V .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qIPKLpT32V .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qIPKLpT32V .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qIPKLpT32V .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qIPKLpT32V .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-qIPKLpT32V .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-qIPKLpT32V .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-qIPKLpT32V .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-qIPKLpT32V ul {
  font-size: 0;
}
.cid-qIPKLpT32V .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #4284df;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s;
}
.cid-qIPKLpT32V .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-bottom: 2px #4284df solid;
  border-radius: 0 !important;
}
.cid-qIPKLpT32V .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-qIQhoTPWQW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #47cc63;
}
.cid-qIQh5ezySD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qIQh5ezySD .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-qIQh5ezySD .input {
  margin-bottom: 15px;
}
.cid-qIQh5ezySD .media-container-row {
  align-items: flex-start;
}
.cid-qIQh5ezySD .text-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-qIQh5ezySD a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qIQh5ezySD .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qIQh5ezySD .input-group-btn {
  display: block;
}
.cid-qIQh5ezySD .block .form-control {
  padding: 1.07em 1.07em;
}
@media (min-width: 768px) {
  .cid-qIQh5ezySD .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-qIQh5ezySD .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .cid-qIQh5ezySD .google-map {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-qIQh5ezySD h2 {
    padding-top: 2rem;
  }
}
@media (max-width: 499px) {
  .cid-qIQh5ezySD .block-content {
    padding: 0;
  }
  .cid-qIQh5ezySD .form-block {
    padding: 1rem;
  }
}
.cid-qIQh5ezySD B {
  color: #2c1616;
}
.cid-qIPKJIVxun {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #47cc63;
}
.cid-qIPKJIVxun p {
  text-align: center;
}
.cid-qIPKJIVxun .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qIPKJIVxun .btn-underline:hover {
  color: #505050;
}
.cid-qIPKJIVxun .btn-underline:before {
  background-color: #505050;
}
.cid-qIPKJIVxun .social-list a:focus {
  text-decoration: none;
}
.cid-qIPKJIVxun .text-copyright {
  width: 100%;
}
.cid-qIPKJIVxun .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-qIPKJIVxun .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-qIPKJIVxun .logo-footer {
  line-height: normal;
}
.cid-qIPKJIVxun .copyright {
  display: flex;
  align-items: center;
}
.cid-qIPKJIVxun .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qIPKJIVxun .mbr-section-btn {
  font-size: 16px;
}
.cid-qIPKJIVxun .mbr-section-btn a {
  margin: 0 1rem 0.5rem;
}
